/* 
Custom CSS for...
'Modern Business' HTML Theme by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0. 
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/


/* Global Styles */

html,
body {
    height: 100%;
}

body {}

label {
    width: 25vw;
}

.container {
    padding: 5px;
}

.up_img {
    display: flex;
}

.prodinfo {
	border: 1px black solid;
	padding: 1vh;
}

.row1{
	display: flex;
	position: relative;
}
.thumb_image{
	height: 8vh;
	width: 8vh;
}
.image-src {
    height: 100%;
    background-size: cover;
}

.row1-left-container{
	    position: absolute;
    left: 12vh;
}

.row1-right-container{
	    position: absolute;
    right: 0;
}