<div class="text-center">
    <h1>Banner</h1>
</div>
<div class="container">
        <form class="add_banner">

    <div class="up_img">
        <label> Background Image </label>
        <input type="file" name="banner_bg_img" accept="image/*"> </br>
    </div>
    <div class="up_img">
        <label> Forground Image </label>
        <input type="file" name="banner_fg_img" accept="image/*"> </br>
    </div>
    <label> Support Text </label>
    <input type="text" name="banner_sup_text" ng-model="banner_sup_text"> </input>
    </br>
    <label> Header Text </label>
    <input type="text" name="banner_head_text" ng-model="banner_head_text"> </input>
    </br>
    <label> Price</label>
    <input type="text" name="banner_price" ng-model="banner_price"> </input>
    </br>
    <label>Discount </label>
    <input type="text" name="banner_discount" ng-model="banner_discount"> </input>
    </br>
    <label> isProduct </label>
    <input id="banner_isProd" type="checkbox" ng-model="banner_isProd">
    </br>
    <label> Active </label>
    <input id="banner_active" type="checkbox" ng-model="banner_active">
    </br>
                <button type="submit">Add Banner </button>
</form>
</div>