<div class="text-center">
    <h1>Product</h1>
    <button ng-click="addProd()"> {{ButtonText}} </button>
</div>
<div class="container">
    <div class="listView" ng-if="!showAddView">
        <prodinfo thumbnail="http://via.placeholder.com/350x350" name="Sample Product" sup-text="This is a supporting text" desc="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s." price="99" discount="10" category="Cat1" product-type="Type1" tags="tag1 tag2"></prodinfo>
    </div>
    <div class="addProdView" ng-if="showAddView">
        <form class="add_prod">
            <label>Name</label>
            <input type="text" name="product_name" ng-model="product_name"> </input>
            </br>
            <label> Support Text </label>
            <input type="text" name="product_sup_text" ng-model="product_sup_text"> </input>
            </br>
            <label> Header Text </label>
            <input type="text" name="product_head_text" ng-model="product_head_text"> </input>
            </br>
            <div class="up_img">
                <label> Thumbnail Image </label>
                <input type="file" name="product_thumb_img" ng-model="product_thumb_img" accept="image/*"> </br>
            </div>
            <div class="up_img">
                <label> Upload Images </label>
                <input type="file" name="product_img" ng-model="product_img" accept="image/*"> </br>
            </div>
            <label> Description</label>
            <input type="text" name="product_desc" ng-model="product_desc"> </input>
            </br>
            <label> Price</label>
            <input type="text" name="product_price" ng-model="product_price"> </input>
            </br>
            <label>Discount </label>
            <input type="text" name="product_discount" ng-model="product_discount"> </input>
            </br>
            <label>Category </label>
            <select ng-model="product_category" ng-options="x for x in proc_cat"></select>
            </br>
            <label>Product Type </label>
            <select ng-model="product_type" ng-options="x for x in proc_type"></select>
            </br>
            <label> Tags</label>
            <input type="text" name="product_tags" ng-model="product_tags"> </input>
            </br>
            <label> Active </label>
            <input id="product_active" type="checkbox" ng-model="product_active">
            </br>
            <button type="submit">Add Product </button>
        </form>
    </div>
</div>