<div class="prodinfo">
    <div class="prod">
        <div class="info">
            <div class="row1">
                <div class="thumb_image">
                    <div class="image-src" ng-style="{'background-image': 'url({{thumbnail}})'}"> </div>
                </div>
                <div class="row1-left-container">
                    <span class="name">
                        {{name}}
                    </span>
                    </br>
                    <span class="sup_txt">
                        {{supText}}
                    </span>
                </div>
                <div class="row1-right-container">
                    <span class="prdc_rate">
                        ${{price}}
                    </span>
                    </br>
                    <span class="prod_disc">
                        ${{discount}}
                    </span>
                </div>
            </div>
            <div class="row2">
                {{desc}}
            </div>
            <div class="row3">
                <span class="prod_category">
                        {{category}}
                    </span>
                </br>
                <span class="prod_type">
                        {{productType}}
                    </span>
            </div>
            <div class="row4">
                {{tags}}
            </div>
        </div>
        <button ng-click="doDelete()"> Delete </button> 
        <button ng-click="doUpdate()"> Update </button> 
    </div>
</div>